@layer base {
    h1 {
      @apply text-4xl font-medium;
    }
    h2 {
      @apply text-xl font-medium;
    }
    h3 {
      @apply text-lg font-medium;
    }
    a {
      @apply underline;
    }
  }

@layer components {

    .navbar{
        @apply relative flex bg-dark  flex-wrap text-center items-center justify-between px-3 py-2;
    }

    .nav-link{
        @apply text-xl-l uppercase block py-2 no-underline text-white-darker transition delay-150 ease-in-out hover:text-white-darker-2;
        //CAMBIAR DELAY A .15S
    }

    .footer{
        @apply bg-darker p-6;
    }

    .footer-contact{
        @apply flex flex-wrap justify-center m-0 p-0 list-none;
    }

    .card{
        @apply max-w-350 text-center mb-6 relative flex flex-col min-w-0 break-words bg-white bg-clip-border	border rounded;
    }

    .card-img-top{
        @apply w-full align-middle;
    }

    .card-body{
        @apply flex-auto p-4;
    }

    .card-title{
        @apply text-xl mb-2 font-medium;
        //REVISAR LINEA Y FONT WEIGHT
    }

    .card-subtitle{
        @apply text-base -mt-1 mb-2 font-medium;
    }

    .card-text{
        @apply m-0;
    }

    .card-footer{
        @apply flex flex-wrap justify-center px-4 py-2 bg-gray-lighter border-t border-solid border-gray-lighter;
    }

    .fab{
        @apply no-underline p-10p text-3xl hover:opacity-70;
    }

    .row{
        @apply flex flex-wrap -mx-4;
    }

    .col{
        @apply w-full md:w-1/2 px-3;
    }

    .col-auto{
        @apply flex-1.2;
    }

    .form-select{
        @apply w-full text-base py-1.5 pl-3 pr-9 font-normal leading-normal bg-white border border-solid border-gray rounded focus:border-blue-2 focus:shadow-blue;
    }

    .form-control{
        @apply block w-full text-base py-1.5 px-3 font-normal leading-normal bg-white bg-clip-padding border border-solid border-gray focus:outline-none rounded focus:border-blue-2 focus:shadow-blue;
    }

    .form-check{
        @apply inline-block;
    }

    .form-check-input{
        @apply w-4 h-4 mt-1 mr-2 float-left bg-white bg-no-repeat bg-middle bg-contain checked:border-blue checked:bg-blue border focus:border-blue-2 focus:shadow-blue border-solid border-opacity-25 appearance-none;  
    }

    .btn{
        @apply inline-block text-base font-normal text-center text-white leading-normal align-middle border border-solid border-transparent px-3 py-1.5  bg-primary focus:shadow-blue rounded hover:bg-blue-darker hover:border-blue-darker;
    }
}